&-header {
    display: flex;
    flex-direction: row;
    background-color: $defaultBlack;
    height: 54px;
    color: white;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
}
