&-headerSearch {
    
    flex-grow: 1;

    input {
        height: 30px;
        border: none;
        background-color: transparent;
        padding-left: 12px;
        font-size: 13px;
        width: 100%;
        box-sizing: border-box;
        color: white;
        outline: none;

        &::placeholder {
            color: #979797;
        }
    } 
}
