&-headerSearch {
    
    flex-grow: 1;

    .KPTAPP-headerSearch__search {
        height: 30px;
        border: none;
        background-color: transparent;
        padding-left: 12px;
        font-size: 13px;
        width: 100%;
        box-sizing: border-box;
        color: white;
        outline: none;
        opacity: 0;

        &.active {
            opacity: 1;
        }

        &::placeholder {
            color: #979797;
        }
    } 
}
