@import 'variables';

.KPTAPP {
    @import 'reset';
    * {
        box-sizing: border-box;
    }
    position: fixed;
    top: 0px;
    right: 0px;
    width: 390px;
    z-index: 99999999999999;
    
}

.KPTAPP .KPTAPP {
    &-container {
        position: relative; 
        height: 100vh;
        background-color: white;
        box-shadow: -1px 1px 1px #97979740;
        
        //border: 1px solid black;
    }

    @import 'header';
    @import 'headerSearch'; 
    @import 'body';
    @import 'articlesList';
    @import 'articleItem';
    @import 'navigationArticles';
} 
