.KPTAPP {
  /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
  /* HTML5 display-role reset for older browsers */
}

.KPTAPP html, .KPTAPP body, .KPTAPP div, .KPTAPP span, .KPTAPP applet, .KPTAPP object, .KPTAPP iframe, .KPTAPP h1, .KPTAPP h2, .KPTAPP h3, .KPTAPP h4, .KPTAPP h5, .KPTAPP h6, .KPTAPP p, .KPTAPP blockquote, .KPTAPP pre, .KPTAPP a, .KPTAPP abbr, .KPTAPP acronym, .KPTAPP address, .KPTAPP big, .KPTAPP cite, .KPTAPP code, .KPTAPP del, .KPTAPP dfn, .KPTAPP em, .KPTAPP img, .KPTAPP ins, .KPTAPP kbd, .KPTAPP q, .KPTAPP s, .KPTAPP samp, .KPTAPP small, .KPTAPP strike, .KPTAPP strong, .KPTAPP sub, .KPTAPP sup, .KPTAPP tt, .KPTAPP var, .KPTAPP b, .KPTAPP u, .KPTAPP i, .KPTAPP center, .KPTAPP dl, .KPTAPP dt, .KPTAPP dd, .KPTAPP ol, .KPTAPP ul, .KPTAPP li, .KPTAPP fieldset, .KPTAPP form, .KPTAPP label, .KPTAPP legend, .KPTAPP table, .KPTAPP caption, .KPTAPP tbody, .KPTAPP tfoot, .KPTAPP thead, .KPTAPP tr, .KPTAPP th, .KPTAPP td, .KPTAPP article, .KPTAPP aside, .KPTAPP canvas, .KPTAPP details, .KPTAPP embed, .KPTAPP figure, .KPTAPP figcaption, .KPTAPP footer, .KPTAPP header, .KPTAPP hgroup, .KPTAPP menu, .KPTAPP nav, .KPTAPP output, .KPTAPP ruby, .KPTAPP section, .KPTAPP summary, .KPTAPP time, .KPTAPP mark, .KPTAPP audio, .KPTAPP video {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.KPTAPP article, .KPTAPP aside, .KPTAPP details, .KPTAPP figcaption, .KPTAPP figure, .KPTAPP footer, .KPTAPP header, .KPTAPP hgroup, .KPTAPP menu, .KPTAPP nav, .KPTAPP section {
  display: block;
}

.KPTAPP body {
  line-height: 1;
}

.KPTAPP ol, .KPTAPP ul {
  list-style: none;
}

.KPTAPP blockquote, .KPTAPP q {
  quotes: none;
}

.KPTAPP blockquote:before, .KPTAPP blockquote:after {
  content: '';
  content: none;
}

.KPTAPP q:before, .KPTAPP q:after {
  content: '';
  content: none;
}

.KPTAPP table {
  border-collapse: collapse;
  border-spacing: 0;
}

.KPTAPP * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.KPTAPP .KPTAPP-container {
  position: fixed;
  top: 0px;
  right: -390px;
  width: 390px;
  z-index: 99999999999999;
  height: 100vh;
  background-color: white;
  -webkit-box-shadow: -1px 1px 1px #97979740;
          box-shadow: -1px 1px 1px #97979740;
  -webkit-transition: right 400ms ease;
  transition: right 400ms ease;
}

.KPTAPP .KPTAPP-container.active {
  right: 0px;
}

.KPTAPP .KPTAPP-panel {
  position: absolute;
  left: -54px;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.KPTAPP .KPTAPP-panel__item {
  padding: 0px;
  border: none;
  width: 54px;
  height: 54px;
  background-color: #D01345;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: colunm;
          flex-direction: colunm;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.KPTAPP .KPTAPP-panel__item:visited {
  background-color: #D01345;
}

.KPTAPP .KPTAPP-panel__item:hover, .KPTAPP .KPTAPP-panel__item:focus {
  cursor: pointer;
  background-color: #be113e;
}

.KPTAPP .KPTAPP-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #2B2B2B;
  height: 54px;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
}

.KPTAPP .KPTAPP-headerSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  margin-right: 10px;
}

.KPTAPP .KPTAPP-headerSearch label {
  position: absolute;
  left: 0px;
  height: 16px;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.KPTAPP .KPTAPP-headerSearch .KPTAPP-headerSearch__search {
  height: 30px;
  border: none;
  background-color: transparent;
  font-size: 13px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  outline: none;
  opacity: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0px;
}

.KPTAPP .KPTAPP-headerSearch .KPTAPP-headerSearch__search:-webkit-autofill, .KPTAPP .KPTAPP-headerSearch .KPTAPP-headerSearch__search:-webkit-autofill:hover, .KPTAPP .KPTAPP-headerSearch .KPTAPP-headerSearch__search:-webkit-autofill:focus {
  background-color: transparent;
}

.KPTAPP .KPTAPP-headerSearch .KPTAPP-headerSearch__search::-webkit-input-placeholder {
  color: #979797;
}

.KPTAPP .KPTAPP-headerSearch .KPTAPP-headerSearch__search:-ms-input-placeholder {
  color: #979797;
}

.KPTAPP .KPTAPP-headerSearch .KPTAPP-headerSearch__search::-ms-input-placeholder {
  color: #979797;
}

.KPTAPP .KPTAPP-headerSearch .KPTAPP-headerSearch__search::placeholder {
  color: #979797;
}

.KPTAPP .KPTAPP-headerSearch.active label {
  -webkit-transform: translateX(210px);
          transform: translateX(210px);
}

.KPTAPP .KPTAPP-headerSearch.active .KPTAPP-headerSearch__search {
  opacity: 1;
  border-bottom: 1px solid #5d5d5d;
}

.KPTAPP .KPTAPP-presentationArticles {
  width: 54px;
  height: 54px;
  min-width: 54px;
}

.KPTAPP .KPTAPP-presentationArticles button {
  background-color: transparent;
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
}

.KPTAPP .KPTAPP-presentationArticles button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.KPTAPP .KPTAPP-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.KPTAPP .KPTAPP-articles-list {
  background-color: #F1F1F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: calc(100vh - 54px);
  overflow-y: scroll;
  margin-top: 54px;
}

.KPTAPP .KPTAPP-articles-list .KPTAPP-article-item {
  border-bottom: 1px solid #E9E7E7;
  height: 115px;
  min-height: 115px;
  background-color: white;
  padding: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}

.KPTAPP .KPTAPP-articles-list .KPTAPP-article-item:hover {
  background-color: #f5f5f8;
}

.KPTAPP .KPTAPP-articles-list .KPTAPP-article-item__picture {
  margin-left: 5px;
  max-width: 60px;
  min-width: 60px;
  height: 96px;
  background-color: lightGrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.KPTAPP .KPTAPP-articles-list .KPTAPP-article-item__picture img {
  max-height: 100%;
}

.KPTAPP .KPTAPP-articles-list .KPTAPP-article-item__body {
  width: 100%;
  margin-left: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.KPTAPP .KPTAPP-articles-list .KPTAPP-article-item__body__title {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  line-height: 17px;
  color: #333333;
}

.KPTAPP .KPTAPP-articles-list .KPTAPP-article-item__body__title:hover {
  text-decoration: underline;
}

.KPTAPP .KPTAPP-articles-list .KPTAPP-article-item__body__price {
  color: #D01345;
  font-size: 13px;
  font-weight: bold;
  margin-top: 5px;
  display: inline-block;
}

.KPTAPP .KPTAPP-articles-list .KPTAPP-article-item__body button {
  margin-top: auto;
  display: inline-block;
}

.KPTAPP .KPTAPP-articles-list .KPTAPP-article-item__body__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: auto;
}

.KPTAPP .KPTAPP-articles-list .KPTAPP-article-item__body__action span {
  color: black;
  font-size: 12px;
  height: 12px;
  line-height: 12px;
  margin-top: auto;
  opacity: 0.4;
  text-transform: lowercase;
}

.KPTAPP .KPTAPP-articles-list .KPTAPP-article-item:hover .KPTAPP-article-item__close {
  opacity: 1;
}

.KPTAPP .KPTAPP-articles-list .KPTAPP-article-item__close {
  position: absolute;
  opacity: 0;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0px;
  right: 0px;
}

.KPTAPP .KPTAPP-articles-list .KPTAPP-article-item__close:before {
  content: '';
}

.KPTAPP .KPTAPP-articles-list .KPTAPP-article-item__like {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  padding: 0;
  outline: none;
}

.KPTAPP .KPTAPP-articles-list .KPTAPP-article-item__like:hover {
  opacity: 0.7;
  cursor: pointer;
}

.KPTAPP .KPTAPP-articles-list.block {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.KPTAPP .KPTAPP-articles-list.block .KPTAPP-article-item {
  width: 50%;
  height: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -1px;
  margin-left: -1px;
  border: 1px solid #E9E7E7;
}

.KPTAPP .KPTAPP-articles-list.block .KPTAPP-article-item__picture {
  width: 100%;
  height: 122px;
  min-height: 122px;
  min-width: initial;
  max-width: initial;
  margin-left: 0px;
}

.KPTAPP .KPTAPP-articles-list.block .KPTAPP-article-item__picture img {
  max-width: 100%;
  max-height: initial;
}

.KPTAPP .KPTAPP-articles-list.block .KPTAPP-article-item__body {
  margin-left: 0px;
  margin-top: 10px;
  height: 100%;
}

.KPTAPP .KPTAPP-articles-list.block .KPTAPP-article-item__body__action {
  margin-top: auto;
}

.KPTAPP .KPTAPP-navigation-articles {
  background-color: #2B2B2B;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.KPTAPP .KPTAPP-navigation-articles button {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-right: 5px;
  background: transparent;
  border-radius: 0px;
  border: none;
  color: white;
  font-weight: bold;
  padding: 0;
  outline: none;
  opacity: 0.7;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.KPTAPP .KPTAPP-navigation-articles button.active, .KPTAPP .KPTAPP-navigation-articles button:focus, .KPTAPP .KPTAPP-navigation-articles button:hover {
  opacity: 1;
  background-color: black;
  outline: none;
  cursor: pointer;
}
/*# sourceMappingURL=app.css.map */